
/* header search menu */
.searchMenuWrapper {
  position: absolute;
  background-color: var(--white);
  width: 37rem;
  left: 0;
  top: 3rem;
  padding: 1rem 0.5rem;
  border-radius: 1.5rem;
  color: var(--text);
  box-shadow: 0px 16.29862403869629px 23.904647827148438px 0px
    rgba(0, 0, 0, 0.05);
  display: none;
}
.searchMenuWrapper:hover {
  display: block;
}
.searchMenuListWrapper {
  padding-left: 0;
  margin-bottom: 0;
}
.searchMenuListWrapper li:not(:first-child) > a > img {
  opacity: 0.5;
}
.searchMenuListWrapper li {
  margin-bottom: 0.7rem;
  border-bottom: 1px solid transparent;
  max-width: fit-content;
}
.searchMenuListWrapper li:hover {
  border-bottom: 1px solid var(--green);
}
.searchMenuListWrapper li a {
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: 0.875rem;
  max-width: 15rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.searchMenuListWrapper li a img {
  margin-right: 0.3rem;
}
