.sCardWrapper {
  background-color: var(--white);
  padding: 0.5rem 0.4rem;
  border-radius: 0.9rem;
  box-shadow: 0px 16.29862403869629px 23.904647827148438px 0px
    rgba(0, 0, 0, 0.05);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.sCardWrapper.active {
  background-color: #eaffea;
}
.scardImg {
  max-height: 10rem;
  object-fit: contain;
  margin-right: 1rem;
  display: inline-block;
}
.sCardHead {
  font-family: var(--cb);
  color: var(--red);
  font-size: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.sCardPara {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: var(--text);
}

.sCardRBtn {
  color: var(--green);
  display: inline-block;
  font-size: 1.125rem;
  font-family: var(--cb);
}
.sCardRBtn:hover {
  color: var(--green);
  text-decoration: underline;
}
.sCardDetailWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.sCardDetail {
  font-size: 1.125rem;
  margin-right: 1rem;
}
.sCardDetail span {
  color: var(--red);
  font-family: var(--cb);
}
.sCardDetail span img {
  width: 1.125rem;
}
.searchText {
  font-size: 1.125rem;
}
.searchText span {
  font-size: 1.125rem;
  font-family: var(--cb);
}
@media only screen and (max-width: 768px) {
  .sCardWrapper {
    flex-direction: column;
    max-width: 23rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
  .scardImg {
    width: 100%;
    max-height: 100%;
    margin-right: 0rem;
  }
  .sCardHead {
    font-size: 1.923rem;
    margin-top: 0.5rem;
  }
  .sCardPara {
    font-size: 1.28rem;
  }
  .sCardRBtn {
    font-size: 1.28rem;
    margin-bottom: 0.5rem;
  }
  .sCardDetail {
    font-size: 0.975rem;
    margin-right: 1rem;
  }
}
