
/* main card */
.mCardWrapper {
  background-color: var(--white);
  padding: 0.5rem 0.4rem;
  border-radius: 0.97rem;
  box-shadow: 0px 16.29862403869629px 23.904647827148438px 0px
    rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  margin-bottom: 0.5rem;
  max-width: 16.4rem;
  text-align: center;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}
.mCardWrapper:hover {
  box-shadow: none;
  border: 1px solid var(--green);
  /* cursor: pointer; */
}
.mCardHead {
  font-family: var(--cb);
  color: var(--red);
  font-size: 1.3rem;
  margin-top: 0.7rem;
  max-width: 13rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.mCardPara {
  font-size: 0.875rem;
  max-width: 13rem;
  color: var(--text);
}
.mCardRBtn {
  color: var(--green);
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-family: var(--cb);
}
.mCardRBtn:hover {
  color: var(--green);
  text-decoration: underline;
}
.mCardDetailWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mCardDetail {
  color: var(--text);
  font-size: 0.75rem;
}
.mCardDetail span {
  color: var(--red);
  font-family: var(--cb);
}
.TextClr {
  color: var(--text);
}
/* main card end */
