/* header */
.headerBg {
  background-color: var(--green);
  color: var(--white);
}
.headerHead {
  font-family: var(--ms);
  font-size: 2rem;
  font-weight: 400;
  color: var(--white);
  text-transform: capitalize;
  text-decoration: none;
}
.headerHead:hover {
  color: var(--white);
}
.headerSearch {
  background-color: #fff;
  max-width: 37rem;
  border-radius: 40px;
  padding: 0.5rem 0.7rem;
  display: flex;
  position: relative;
  border: 1px solid #d2e5d4;
}
.headerSearch input {
  border: none;
  width: 100%;
  color: var(--green);
  font-size: 0.875rem;
}
.headerSearch input::placeholder {
  border: none;
  width: 100%;
  color: var(--green);
  font-size: 0.875rem;
}
.headerSearch input:focus-visible {
  border: none;
  outline: none;
}
.headerSearch > input:focus ~ .searchMenuWrapper {
  display: block;
}
.headerSearch button {
  border: none;
  background-color: transparent;
}
.headerPara {
  font-size: 1.125rem;
  font-family: var(--cb);
  line-height: 1.93rem;
  margin-bottom: 0;
}
.headerIconWrapper2 {
  display: none;
  display: flex;
  align-items: center;
}
.headerIcon2 {
  cursor: pointer;
  display: inline-block;
  max-width: 3rem;
  display: none;
}
@media only screen and (max-width: 992px) {
  .headerPara {
    display: block;
    font-size: 1rem;
    line-height: 1.43rem;
  }
  .headerIconWrapper {
    display: none;
  }
  .searchMenuMobWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .searchMenuMobWrapper form {
    width: 100%;
    margin-bottom: 1rem;
  }
  .headerIconWrapper2 {
    display: block;
    margin-top: 10px;
  }
  .headerIcon2 {
    display: inline-block;
    max-width: 2rem;
  }
  .MSBHeadWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .MSBHead {
    margin-bottom: 0 !important;
  }
  .headerHead {
    font-size: 1.7rem;
  }
}
/* header end */
